---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import HeroSection from '~/sesions/HeroSection.astro';
import ServiciosSection from '~/sesions/ServiciosSection.astro';
import PersonalizacionSection from '~/sesions/PersonalizacionSection.astro';
import PorQueSection from '~/sesions/PorQueSection.astro';
import ContactoSection from '~/sesions/ContactoSection.astro';
---

<BaseLayout>
  <Header />
  
  <main id="main" class="pt-16">
    <HeroSection />
    <ServiciosSection />
    <PersonalizacionSection />
    <PorQueSection />
    <ContactoSection />
  </main>

  <Footer />
</BaseLayout>
